<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <header><img src="https://i5.walmartimages.com/asr/1798d534-e353-400c-9c67-c3c78a4b5e5a_1.1b09b4eff731cd156738833274356924.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Meadowlark Travel Logo"></header>
    {{{body}}}
</body>
</html>